{% extends "common/base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="container">
    <form class="form-signin form-horizontal" method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        <h2 class="page-header">Please sign in</h2>
        <div class="form-group form-group-lg">
            <label for="inputUsername" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input id="inputUsername" class="form-control" name="{{ form.username.name }}" placeholder="Username" required autofocus>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="inputPassword" class="form-control" name="{{ form.password.name }}" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-lg btn-block btn-primary" type="submit" value="Sign in">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </div>
    </form>

</div> <!-- /container -->
{% endblock %}
