fabric==1.10.1
pycrypto==2.6.1
pyyaml==3.11
jinja2==2.7.3
django==1.8.4
djangorestframework==3.3.3
eventlet==0.17.4
oslo.config==2.7.0
oslo.log==2.1.0
oslo.service==1.2.0
oslo.messaging==4.5.1
python-swiftclient==3.0.0
python-keystoneclient==2.3.1
oslo.versionedobjects==1.7.0
oslo.db==4.6.0
PyMySQL==0.7.2
requests==2.9.1
Werkzeug==0.12
pyOpenSSL==16.2.0
