/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.node-cluster {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-top: -16px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.panel-group .panel-heading {
    padding: 2px 6px;
}

.panel-group {
    margin-bottom: 5px;
}

.panel-body {
    padding: 5px;
}

.collpse {
}

.panel-title {
    padding-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../vendor/defaulticon/png/arrow-7-down.png);
}

.panel-title.collapsed {
    background-image: url(../vendor/defaulticon/png/arrow-7-right.png);
}

.panel-title.active {
}

.panel-title:hover {
}

.show {
    padding-right: 8px;
    border-right: 3px solid #fff
}
.show.active {
    border-right: 3px solid #6f5499
}
.show:hover {
    border-right: 3px solid #563d7c
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}






/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * svg
 */
.svg-defs {
    width: 0px;
    height: 0px;
}

.graph-svg-wrapper {
    position: static;
    background-color: #f8f8f8;
    width: 100%;
    height: 450px;
}

.graph-svg-wrapper > svg {
    width: 100%;
    height: 100%;
}

.link {
    stroke: rgba(0, 0, 0, 0.3);
}

.node {
    cursor: pointer;
}

.node-circle {
    fill: #222;
}

.node-label {
    fill: #337ab7;
}

.node-label-success {
    fill: #5cb85c;
}

.node-label-warning {
    fill: #f0ad4e;
}

.node-label-danger {
    fill: #d9534f;
}

/*
 * popover
 */
.popover-anchor {
    cursor: pointer;
}

.popover {
    max-width: 600px;
}


.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.form-user {
  max-width: 500px;
}

.msg-box {
    padding: 5px;
}
