{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}FabKit{% endblock %}</title>

    <link href="{% static 'vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">FabKit</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="{% if namespace == 'home' %}active{% endif %}"><a class="pjax" href="{% url 'home:index' %}">Home</a></li>
                    <li class="{% if namespace == 'user' %}active{% endif %}"><a class="pjax" href="{% url 'user:index' %}">User</a></li>
                    <li class="{% if namespace == 'node' %}active{% endif %}"><a class="pjax" href="{% url 'node:index' %}">Node</a></li>
                    <li class="{% if namespace == 'fabscript' %}active{% endif %}"><a class="pjax" href="{% url 'fabscript:index' %}">Fabscript</a></li>
                    <li class="{% if namespace == 'result' %}active{% endif %}"><a class="pjax" href="{% url 'result:index' %}">Result Log</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="glyphicon glyphicon-user" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{ user }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'user:logout' %}">Logout</a></li>
                            <li><a class="pjax" href="{% url 'user:index' %}#change-password">Change Password</a></li>
                        </ul>
                    </li>
                </ul>
              {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="blank" href="https://github.com/syunkitada/fabkit/wiki">Github</a></li>
                </ul>
              {% endif %}
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row" id="pjax-container">
          {% block content %}
          {% endblock %}
        </div>
    </div>

    <div class="modal fade" id="remove-modal">
        <div class="modal-dialog">
            <form class="modal-content" id="remove-form" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Remove</h4>
                </div>
                <div class="modal-body">
                    <ul id="target-list">
                    </ul>

                    <div class="progress" id="modal-progress">
                        <div class="progress-bar progress-bar-striped active" style="width: 100%">
                        </div>
                    </div>
                    <div id="modal-msg">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="remove-submit">Remove</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="{% static 'vendor/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.pjax.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/d3.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    {% block js_extention %}{% endblock %}
</body>
</html>
