{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}FabKit{% endblock %}</title>

    <link href="{% static 'vendor/bootstrap-3.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/highlight/styles/default.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">FabKit</a>
                <a class="navbar-brand visible-xs" data-toggle="offcanvas" href="#">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Nav
                </a>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    Top
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="{% if namespace == 'node' %}active{% endif %}">
                        <a class="pjax" href="{% url 'node:index' %}">Node</a></li>
                    <li class="{% if namespace == 'user' %}active{% endif %}">
                        <a class="pjax" href="{% url 'user:index' %}">User</a></li>
                    <li class="{% if namespace == 'chat' %}active{% endif %}">
                        <a class="pjax" href="{% url 'chat:index' %}">Chat</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="glyphicon glyphicon-user" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{ user }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'user:logout' %}">Logout</a></li>
                            <li><a class="pjax" href="{% url 'user:index' %}#change-password">Change Password</a></li>
                        </ul>
                    </li>
                </ul>
              {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="blank" href="https://github.com/syunkitada/fabkit/wiki">Github</a></li>
                </ul>
              {% endif %}
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left content" id="pjax-container">
            {% block content %}
            {% endblock %}
        </div><!--/row-->
    </div>

    <footer class="container-fluid">
        <ul class="footer-links">
            <li><a target="blank" href="https://github.com/fabrickit/fabkit/blob/master/LICENCE">Licence (MIT)</a></li>
            <li><a target="blank" href="https://github.com/fabrickit/fabkit">Github</a></li>
            <li><a target="blank" href="https://github.com/fabrickit/fabkit/wiki">Docs</a></li>
        </ul>
    </footer>

    {% include 'modal/remove.html' %}
    {% include 'modal/datamap.html' %}

    <script src="{% static 'vendor/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.pjax.js' %}"></script>
    <script src="{% static 'vendor/js/marked.js' %}"></script>
    <script src="{% static 'vendor/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'vendor/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-3.3.1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/d3.min.js' %}"></script>

    <script src="{{ livereload_js }}"></script>
    <script src="{{ chat_socketio_js }}"></script>

    <script>
    var apps = {};  // for global namespace
    apps.debug = {{ debug|lower }};
    var chat_connection = "{{ web_hostname }}:{{ chat_port }}";
    </script>

    <script src="{% static 'js/common.js' %}"></script>

    <script>
    $(document).ready(function() {
      apps.init();

      $('[data-toggle="offcanvas"]').click(function () {
        $('.row-offcanvas').toggleClass('active');
          return false;
      });
    });
    </script>

    {% block js_extention %}{% endblock %}
</body>
</html>
