<div class="row">
  <div class="col-xs-12">
    <div id="chat-room-error"></div>
    <div class="form-group">
      <div class="input-group">
        <textarea class="form-control" id="chat-comment" name="comment" placeholder="Input comment"></textarea>
        <div class="input-group-addon">
          <button id="chat-comment-submit" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-pencil"></span>
            Comment
          </button>
        </div>
      </div>
    </div>

    <pre id="cluster-users">
    </pre>

    <div class="table-responsive">
      <table class="table">
        <tbody id="chat-comments">
         {% for comment in comments %}
          <tr>
            <td class="chat-icon">
              <span class="glyphicon glyphicon-user"></span>
            </td>
            <td>
              <div>
                <span>{{ comment.user }}</span>
                <span class="pull-right">{{ comment.created_at }}</span>
              </div>
              <div class="chat-text">{{comment.text}}</div>
            </td>
          </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<script>
var current_cluster = "{{ cluster }}"
</script>
