<div class="modal fade" id="remove-modal">
    <div class="modal-dialog">
        <form class="modal-content" id="remove-form" method="POST">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove</h4>
            </div>
            <div class="modal-body">
                <ul id="target-list">
                </ul>

                <div class="progress" id="modal-progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 100%">
                    </div>
                </div>
                <div id="modal-msg">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" id="remove-submit">Remove</button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
