<div class="modal fade" id="graph-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Graph</h4>
            </div>
            <div class="modal-body" id="graph-modal-body">
                <svg class="svg-defs">
                    <defs>
                        <marker id="markerArrow" markerWidth="10" markerHeight="10" refx="16" refy="6"
                                orient="auto">
                            <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #000000;" />
                        </marker>
                    </defs>
                </svg>
                <div class="graph-svg-wrapper">
                    <svg id="graph-svg"></svg>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
