<title>{{title}}</title>

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" id="fabscript-clusters"></ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="page-header">{{title}}</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Script Name</th>
                <th>Connection</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody id="fabscripts-tbody">
        </tbody>
    </table>

    <hr>

    <svg class="svg-defs">
        <defs>
            <marker id="markerArrow" markerWidth="13" markerHeight="13" refx="14" refy="6"
                    orient="auto">
                <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #000000;" />
            </marker>
        </defs>
    </svg>
    <div class="svg-wrapper">
        <svg id="svg-fabscript"></svg>
    </div>

</div>


<script type="application/json" id="fabscripts">{{ fabscripts|safe }}</script>
