{% extends 'common/content.html' %}

{% block main_content %}

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" class="form-control" id="search-input" placeholder="text">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <input id="show-graph" class="btn btn-default" type="button" value="Show Graph">
        <input class="btn btn-default pull-right" type="button" value="Remove" onclick="fabkit.remove_data('{% url 'fabscript:remove' %}')">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="all-checkbox"></th>
                <th>Script Name</th>
                <th>Linked</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody id="fabscripts-tbody">
        </tbody>
    </table>
</div>


<script type="application/json" id="fabscripts">{{ fabscripts|safe }}</script>

{% endblock %}
