<title>{{title}}</title>

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" id="fabscript-clusters"></ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="page-header">{{title}}</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Script Name</th>
                <th>Connection</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody id="fabscripts-tbody">
        </tbody>
    </table>
</div>

<script type="application/json" id="fabscripts">{{ fabscripts|safe }}</script>
