{% extends 'common/content.html' %}

{% block main_content %}

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" class="form-control" id="search-input" placeholder="text">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <button id="show-datamap" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-th-large"></span>
        DataMap
        </button>
        <button id="show-statusmap" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-th-list"></span>
        StatusMap
        </button>
        <button id="show-relationmap" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-random"></span>
         RelationMap
        </button>
        <button class="btn btn-default pull-right" type="button" data-toggle="collapse" data-target="#collapse-readme" aria-expanded="false" aria-controls="collapse-readme">
            <span class="glyphicon glyphicon-list-alt"></span> README</button>
    </div>
</div>
<div class="collapse" id="collapse-readme">
    <div class="well readme">
        {{ readme_html|safe }}
    </div>
</div>

<p>
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#" class="bg-info">All
            <span class="badge" id="all-node-badge"></span></a></li>
        <li role="presentation"><a href="#" class="bg-success">Success
            <span class="badge" id="success-node-badge"></span></a></li>
        <li role="presentation"><a href="#" class="bg-warning">Warning
            <span class="badge" id="warning-node-badge"></span></a></li>
        <li role="presentation"><a href="#" class="bg-danger">Danger
            <span class="badge" id="danger-node-badge"></span></a></li>
    </ul>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered tablesorter" id="node-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Host</th>
                <th>Fabscript</th>
            </tr>
        </thead>
        <tbody id="nodes-tbody">
        </tbody>
    </table>
</div>


<script type="application/json" id="node_cluster">{{ node_cluster|safe }}</script>
<script type="application/json" id="node_clusters">{{ node_clusters|safe }}</script>
<script type="application/json" id="fabscripts">{{ fabscripts|safe }}</script>

{% endblock %}
