{% extends 'common/content.html' %}

{% block main_content %}

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" class="form-control" id="search-input" placeholder="text">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <input id="show-graph" class="btn btn-default" type="button" value="Show Graph">
        <input id="show-overview" class="btn btn-default" type="button" value="Show Overview">
        <input class="btn btn-default pull-right" type="button" value="Remove" onclick="fabkit.remove_data('{% url 'node:remove' %}')">
    </div>
</div>

<p>
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#" class="bg-info">All
            <span class="badge" id="all-node-badge"></span></a></li>
        <li role="presentation"><a href="#" class="bg-success">Success
            <span class="badge" id="success-node-badge"></span></a></li>
        <li role="presentation"><a href="#" class="bg-warning">Warning
            <span class="badge" id="warning-node-badge"></span></a></li>
        <li role="presentation"><a href="#" class="bg-danger">Danger
            <span class="badge" id="danger-node-badge"></span></a></li>
    </ul>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="all-checkbox"></th>
                <th>Path</th>
                <th>Status</th>
                <th>Msg</th>
                <th width="400px">Logs</th>
                <th>Udate</th>
            </tr>
        </thead>
        <tbody id="nodes-tbody">
        </tbody>
    </table>
</div>


<script type="application/json" id="nodes">{{ nodes|safe }}</script>
<script type="application/json" id="node_clusters">{{ node_clusters|safe }}</script>
<script type="application/json" id="fabscripts">{{ fabscripts|safe }}</script>

{% endblock %}
