{% extends "common/base.html" %}

{% block title %}ノードの一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">ノードの一覧</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ホスト名</th>
          <th>fabruns</th>
        </tr>
      </thead>
      <tbody>
        {% for node in nodes %}
        <tr>
          <td>{{ node.host }}</td>
          <td>
              <ul>
                  <li>hello 0</li>
                  <li>test 0</li>
              </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
